.nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 20px;
  right: 20%;
  z-index: 2;
  transition: all 0.2s linear;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(196, 200, 204);
  border: transparent;
  transition: all 0.5s linear;
  z-index: 2;
}

.button .hamburger {
  position: relative;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.5s linear;
}
.button .hamburger::before,
.button .hamburger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.3s linear;
}

.button .hamburger::before {
  transform: translateY(-10px);
}
.button .hamburger::after {
  transform: translateY(10px);
}

.button.clicked .hamburger {
  transform: translateX(-50px);
  background: transparent;
}
.button.clicked .hamburger::before {
  transform: rotate(45deg) translate(37px, -37px);
}
.button.clicked .hamburger::after {
  transform: rotate(-45deg) translate(37px, 37px);
}
.sidemenu {
  width: 0px;
  height: 0px;
  background-color: rgba(88, 93, 88, 0.431);
  opacity: 0;
  gap: 5px;
  transition: all 0.2s linear;
}

span {
  position: relative;
  display: inline-block;
}

span > * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.sidemenu > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  width: 120px;
  height: 38px;
  transition: all 0.2s ease-in;
}
.sidemenu > div > * {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
}

.sidemenu > div:hover {
  border-radius: 5px;
  background-color: rgba(49, 47, 47, 0.561);
  cursor: pointer;
  width: 70%;
  padding: 5px;
}
.sidemenu.show {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transform: scale(1);
}
