.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(196, 200, 204);
  border: transparent;
  transition: all 0.5s linear;
}

.button > div {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s linear;
}
.button > div::before,
.button > div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.button > div::before {
  transform: translateY(-10px);
}
.button > div::after {
  transform: translateY(10px);
}

.button.clicked > div {
  transform: translateX(-50px);
  background: transparent;
}
.button.clicked > div::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.button.clicked > div::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
