.nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  right: 5%;
  top: 50px;
  z-index: 5;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  background-color: var(--blue-menu);
  border: transparent;
  animation: animateButton 0.5s ease-in;
  z-index: 5;
}

@keyframes animateButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button .hamburger {
  position: relative;
  width: 25px;
  height: 3px;
  background-image: var(--header-text-color);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}
.button .hamburger::before,
.button .hamburger::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-image: var(--header-text-color);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.button .hamburger::before {
  transform: translateY(-10px);
}
.button .hamburger::after {
  transform: translateY(10px);
}

.button.clicked .hamburger {
  transform: translateX(-50px);
  background: transparent;
}
.button.clicked .hamburger::before {
  transform: rotate(45deg) translate(37px, -37px);
}
.button.clicked .hamburger::after {
  transform: rotate(-45deg) translate(37px, 37px);
}

.sidemenu {
  width: 0px;
  height: 0px;
  background-color: var(--blue-menu);
  opacity: 0;
  gap: 5px;
  transition: all 0.2s linear;
}

.sidemenu > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 38px;
  width: 120px;
  height: 38px;
  opacity: 0;
}

.sidemenu > div > * {
  font-size: 1.4rem;
  height: 100%;
  padding-top: 5px;
  text-align: center;
  color: rgb(211, 214, 218);
  font-weight: 500;
  text-decoration: none;
}

.sidemenu > div:hover {
  border-radius: 5px;
  background-color: rgba(49, 47, 47, 0.561);
  width: 140px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.3s ease-out;
}
.sidemenu.show {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  box-shadow: -10px 10px 20px rgba(5, 5, 5, 0.9);
  animation: animateNav 0.2s ease-in-out;
}
.sidemenu.show > div {
  opacity: 1;
  animation: animate 0.5s ease-out;
}
@keyframes animate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animateNav {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 200px;
    height: 200px;
  }
}

.sidemenu > div > *.active {
  color: rgb(171, 162, 162);
}
span {
  margin-right: 10px;
  height: 100%;
  font-size: 1.4rem;
  line-height: 100%;
}
@media screen and (max-width: 500px) {
  .nav {
    position: fixed;
    right: 2%;
  }
}
