.cardwrapper {
  margin-bottom: 2rem;
}
.card {
  margin: 0 auto;
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: center;
  height: min-content;
  border-radius: 20px;
  padding-bottom: var(--margin-large);
}
.featured {
  text-align: right;
  padding-bottom: 8px;
  background-image: var(--header-text-color);
  background-clip: text;
  font-weight: 700;
  color: transparent;
  height: fit-content;
}
.reverse {
  position: relative;
  margin-left: 100px;
  flex-direction: row-reverse;
}
.descriptiontext {
  color: rgb(211, 214, 218);
}
.discriptionWrapper {
  height: min-content;
  margin-top: -50px;
}
.animatediscription {
  animation: discription 0.5s ease-out forwards;
  animation-delay: 0.5;
}

@keyframes discription {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(2.5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.reversedtext {
  position: relative;
  text-align: start;
  margin-left: -100px;
}
.discription {
  padding: 16px;
  position: relative;
  margin-left: -100px;
  width: 600px;
  height: min-content;
  background-color: var(--dark-slate);
  display: flex;
  text-align: start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  gap: 1rem;
  border-radius: var(--radius);
}
.discriptionreversed {
  margin-right: -100px;
}
.technologies {
  color: rgb(211, 214, 218);
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 1px 0px 21px 5px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 1px 0px 21px 5px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 1px 0px 21px 5px rgba(0, 0, 0, 0.72);
}
.animateimage {
  animation: animateimage 0.5s ease-out forwards;
  animation-delay: 0.5;
}

@keyframes animateimage {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(2.5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.images > a > div {
  width: 900px;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images > a > div:hover {
  background-color: black;
  opacity: 0.5;
  transform: 0.3s ease-out;
}
.images > a > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1600px) {
  .images > a > div {
    width: 700px;
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1300px) {
  .card {
    margin: 0 auto;
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: min-content;
    border-radius: 20px;
    padding-bottom: var(--margin-large);
    gap: 5rem;
  }

  .discriptionreversed {
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .images > a > div {
    width: 500px;
    height: 250px;
  }
  .discription {
    position: relative;
    margin-right: -100px;
    width: 500px;
  }
  .featured {
    margin-right: -100px;
  }
}

@media screen and (max-width: 800px) {
  .images > a > div {
    width: 400px;
    height: 200px;
  }
  .discription {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .featured {
    font-size: 16px;
  }
  .images > a > div {
    width: 280px;
    height: 180px;
  }
  .discription {
    width: 280px;
  }
}
