.expertise {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  width: 100%;
  height: 800px;
  background: no-repeat center url("../assets/devices/mc-pro.png");
  background-size: 80%;
}

.expertise::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -55%);
  width: 63%;
  height: 325px;
  top: 50%;
  left: 50%;
  background-image: linear-gradient(
    to right top,
    rgba(38, 156, 38, 0.815),
    rgba(187, 21, 21, 0.726)
  );
  border-radius: 10px 10px 0 0;
  z-index: 1;
}

.expertise > h2 {
  text-align: center;
  color: rgb(39, 37, 37);
  background-clip: text;
  z-index: 2;
}

.skillswrapper {
  width: 60%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 50px);
  align-items: center;
  text-align: center;
  gap: 10px;
  grid-template-areas:
    ". . j . ."
    ". c h n ."
    "f g r m k";
  z-index: 2;
}
.javascript {
  grid-area: j;
  color: rgb(243, 243, 13);
}

.css {
  grid-area: c;
  color: rgb(0, 98, 255);
}
.html {
  grid-area: h;
  color: rgba(17, 17, 17, 0.863);
}
.node {
  grid-area: n;
  color: rgb(65, 253, 8);
}
.figma {
  grid-area: f;
  color: rgb(175, 2, 255);
}
.graph {
  grid-area: g;
  color: rgb(236, 14, 14);
}
.react {
  grid-area: r;
  color: rgb(15, 230, 219);
}
.mongodb {
  grid-area: m;
  color: rgb(207, 212, 212);
}
.material {
  grid-area: k;
  color: rgb(25, 25, 236);
}
