.expertise {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  background: no-repeat center url("../assets/devices/mc-pro.png");
  background-size: 100%;
}
.s {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.expertisewrapper {
  margin-top: 100px;
  position: relative;
  margin-bottom: 200px;
}
.animateexpertise {
  animation: animateexpertise 0.7s ease-out;
}
@keyframes animateexpertise {
  from {
    transform: translateY(30%);
  }

  to {
    transform: translateY(0);
  }
}
.expertise > h2 {
  text-align: center;
  color: rgb(39, 37, 37);
  background-clip: text;
  z-index: 2;
}
.about {
  font-size: 18px;
  margin-top: 32px;
  width: 60%;
  height: 200px;
  border: 1px solid var(--light-slate);
  padding-bottom: 16px;
}
.about > p {
  padding: 16px 16px 0px 16px;
  color: rgb(156, 164, 173);
}
.panel {
  padding-left: 8px;
  width: 100%;
  height: 40px;
  background-color: rgb(123, 133, 144);
}
.dotwrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 100%;
}
.first,
.second,
.third {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: -1px 1px 1.5px 0px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: -1px 1px 1.5px 0px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -1px 1px 1.5px 0px rgba(0, 0, 0, 0.79);
}
.first {
  background-color: #fc6058;
}
.second {
  background-color: #fec02f;
}
.third {
  background-color: #2aca3e;
}

.skillswrapper {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 50px);
  align-items: center;
  text-align: center;
  gap: 10px;
  grid-template-areas:
    ". . r . ."
    ". c h n ."
    "f g j m k";
  z-index: 2;
}
.javascript {
  grid-area: j;
  color: rgb(243, 243, 13);
}
.javascript > * {
  font-size: 50px;
}

.css {
  grid-area: c;
  color: rgb(0, 98, 255);
}
.css > * {
  font-size: 50px;
}
.html {
  grid-area: f;
  color: rgb(94, 94, 89);
}
.html > * {
  font-size: 50px;
}
.node {
  grid-area: n;
  color: rgb(145, 255, 2);
}

.node > * {
  font-size: 50px;
}

.angular {
  grid-area: h;
  color: rgb(222, 15, 15);
}
.angular > * {
  font-size: 50px;
}
.graph {
  grid-area: g;
  color: rgb(236, 14, 14);
}
.graph > * {
  font-size: 50px;
}
.react {
  grid-area: r;
  color: rgb(3, 194, 184);
}
.react > * {
  font-size: 50px;
}
.mongodb {
  grid-area: m;
  color: rgb(207, 212, 212);
}
.mongodb > * {
  font-size: 50px;
}
.material {
  grid-area: k;
  color: rgb(25, 25, 236);
}
.material > * {
  font-size: 50px;
}

@media screen and (max-width: 1300px) {
  .skillswrapper {
    margin-top: 400px;
    margin-bottom: 100px;
    bottom: 100px;
  }
  .about {
    font-size: 16px;
    width: 100%;
    position: relative;
    margin-top: 100px;
    height: fit-content;
  }

  .panel {
    padding-left: 8px;
    width: 100%;
    height: 30px;
    background-color: rgb(123, 133, 144);
  }
  .first,
  .second,
  .third {
    width: 16px;
    height: 16px;
  }
}
@media screen and (max-width: 950px) {
  .skillswrapper {
    margin-top: 300px;
    margin-bottom: 100px;
  }
  .about {
    width: 100%;
    position: relative;
    margin-top: 100px;
  }
}
@media screen and (max-width: 800px) {
  .javascript > * {
    font-size: 30px;
  }
  .css > * {
    font-size: 30px;
  }
  .html > * {
    font-size: 30px;
  }
  .node > * {
    font-size: 30px;
  }
  .angular > * {
    font-size: 30px;
  }
  .graph > * {
    font-size: 30px;
  }
  .react > * {
    font-size: 30px;
  }
  .mongodb > * {
    font-size: 30px;
  }
  .material > * {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .skillswrapper {
    margin-top: 300px;
    margin-bottom: 100px;
    bottom: 100px;
  }

  .about {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-width: 545px) {
  .skillswrapper {
    margin-top: 340px;
    margin-bottom: 100px;
    bottom: 100px;
  }

  .about {
    width: 100%;
    margin-top: 0;
  }
  .javascript > * {
    font-size: 18px;
  }
  .css > * {
    font-size: 18px;
  }
  .html > * {
    font-size: 25px;
  }
  .node > * {
    font-size: 25px;
  }
  .angular > * {
    font-size: 25px;
  }
  .graph > * {
    font-size: 25px;
  }
  .react > * {
    font-size: 25px;
  }
  .mongodb > * {
    font-size: 25px;
  }
  .material > * {
    font-size: 25px;
  }
}
