:root {
  --headerHeight: 4rem;
  --footerHeight: 130px;
}

.footer {
  margin-top: 10rem;
  background-color: rgb(235, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--footerHeight);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.icons {
  width: 14rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: inherit;
}
.icons > * > * {
  width: 2.2rem;
  height: 1.8rem;
  color: rgb(67, 69, 71);
  border-radius: 8px;
  align-items: center;
  background-color: inherit;
  transition: all 0.2s linear;
}
.icons > * {
  background-color: inherit;
}
.icons > * > *:hover {
  color: rgb(5, 5, 5);
  margin: 0;
  padding: 0;
}
.footer > h3 {
  color: rgb(67, 69, 71);
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: inherit;
  padding-top: 1.2rem;
}
