.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.imageWrapper > div {
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  transform: rotate(45deg);
}
.imageWrapper > div > img {
  transform: rotate(-45deg);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper > p {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(19, 19, 19, 0.74);
  background-image: linear-gradient(
    to right top,
    rgb(162, 163, 157),
    rgb(85, 81, 81)
  );
  color: transparent;
  background-clip: text;
}
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  height: 7rem;
  width: 70%;
  transition: all 0.2s linear;
  padding-bottom: 8rem;
}
.navlink {
  margin-left: 1rem;
  text-decoration: none;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
  padding: clamp(0.6rem, 2vw, 0.8rem);
  color: rgba(19, 19, 19, 0.74);
  transition: 0.3s ease;
  font-weight: 700;
  cursor: pointer;
}

.navlink:hover {
  background-color: rgb(164, 176, 187);
  border-radius: 0.5rem;
  color: white;
}
.active {
  background-color: rgb(164, 176, 187);
  border-radius: 0.5rem;
  color: white;
}

@media screen and (min-width: 270px) and (max-width: 660px) {
  .header {
    margin: 0 10%;
    width: 80%;
    display: flex;
    align-items: center;
    height: 2rem;
    padding-bottom: 4rem;
  }
  .imageWrapper > p {
    display: none;
  }
  .linkswrapper {
    display: none;
  }
  .imageWrapper > div {
    margin: 0 auto;
    width: 85px;
    height: 85px;
  }
  .imageWrapper {
    margin: 0 auto;
  }
}

@media screen and (min-width: 661px) and (max-width: 1020px) {
  .navlink {
    margin-right: 1rem;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 0.6rem;
    color: rgba(19, 19, 19, 0.74);
    transition: 0.3s ease;
    font-weight: 700;
    cursor: pointer;
  }
  .header {
    width: 90%;
  }
}
