.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.imageWrapper > img {
  width: clamp(30px, 3vw, 50px);
  border-radius: 50%;
}
.imageWrapper > p {
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  font-family: "roboto";
  font-weight: 500;
}
.header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  height: 3rem;
  width: clamp(250px, 60vw, 1000px);
}
.navlink {
  margin-right: 1rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  font-size: clamp(0.8rem, 4vw, 1.25rem);
  padding: clamp(0.6rem, 2vw, 0.8rem);
  color: black;
  transition: 0.3s ease;
}

.navlink:hover {
  background-color: rgb(126, 139, 151);
  border-radius: 0.5rem;
  color: white;
}
