.hero {
  position: relative;
  width: clamp(200px, 60vw, 800px);
  height: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.address {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

p,
h1 {
  z-index: 2;
}
h1 {
  font-weight: bold;
  background-image: linear-gradient(141deg, rgb(164, 164, 175), rgb(30 30 34));
  position: relative;
  background-image: linear-gradient(
    rgb(178, 178, 187) 141deg,
    rgb(167, 167, 173),
    rgb(70, 70, 78)
  );
  font-size: 50px;
  letter-spacing: -1.25px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 0%);
}

.hero > p {
  max-width: 400px;
  text-align: center;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(80, 87, 82, 0.479);
  border-radius: 5px;
  z-index: 1;
}
.one {
  top: 0;
  left: 320px;
  transform: rotate(26deg);
}
.two {
  left: 100px;
  bottom: 120px;
  width: 35px;
  height: 35px;
}
.three {
  right: 100px;
  background-color: rgba(156, 156, 136, 0.383);
}
.four {
  bottom: 0;
  background-color: rgba(150, 150, 140, 0.301);
}
.five {
  bottom: 250px;
  left: 150px;
  width: 20px;
  height: 20px;
  background-color: rgba(92, 92, 81, 0.397);
}
.six {
  bottom: 120px;
  right: 250px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: rgba(143, 143, 131, 0.445);
  transform: rotate(13deg);
}
.seven {
  bottom: 150px;
  left: 250px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: rgba(75, 75, 72, 0.301);
  transform: rotate(80deg);
}
.eight {
  bottom: 250px;
  right: 250px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.divWrapper > * {
  transition: 0.2s linear;
}
