.leftsidewrapper,
.rightsidewrapper {
  z-index: 10;
  position: fixed;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.leftsidewrapper {
  left: 16px;
}
.rightsidewrapper {
  right: 16px;
  width: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.leftsidewrapper.active,
.rightsidewrapper.active {
  opacity: 1;
}

.leftline,
.rightline {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  margin-top: 32px;
  width: 4px;
  height: 200px;
  background-color: var(--slate);
}
.animateSideNav {
  animation: sideNavAnimation 0.5s linear both;
  animation-delay: 1s;
}

@keyframes sideNavAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.sociallinkswrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 20px;
  margin-left: -9px;
}
.sociallinkswrapper > a {
  all: unset;
  color: var(--slate);
  cursor: pointer;
  margin-top: 16px;
  font-size: 22px;
}
.sociallinkswrapper > a:hover {
  color: var(--dark-slate);
  transition: 0.3s ease-out;
  transform: translateY(-2px);
}
.gmail {
  margin-bottom: 120px;
  transform: rotate(90deg);
  color: var(--slate);
}
