@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.App {
  background-color: #f6f3f3;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.App > section {
  height: 100vh;
  scroll-snap-align: start;
}
.third {
  height: 300vh;
}
.fourth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
