@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* .routes {
  margin: 0 auto;
  width: clamp(250px, 60vw, 1000px);
} */

.App {
  background-color: #f6f3f3;
}
