@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-header: #f6f3f3;
  --blue-menu: rgb(55, 80, 134);
  --header-text-color: linear-gradient(
    333deg,
    rgb(211, 214, 218),
    rgb(211, 214, 218)
  );
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #141334;
  --navy-shadow: rgb(12, 31, 59);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #044331;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --other-color: rgb(43, 16, 107);
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f6f3f3;
  transition: background 0.2s ease-in-out;
}
